mixin sSuspect()
	// start sSuspect
	+b.sSuspect.section#sSuspect&attributes(attributes)
		.container
			+b.section-title
				+e.small Подозреваете гинекомастию?
				h1 Инструкция от маммолога: откуда берётся гинекомастия, как её лечить и нужна ли операция на самом деле
				+e.big Вернём уверенность в себе
		+e.baner
			img(src="img/header-bg.jpg" alt="")
		+e.content
			.container
				h4 Содержание
				ul
					li: a(href="#") Что такое гинекомастия
					li: a(href="#") Диагностика
					li: a(href="#") Причины
					li: a(href="#") Виды
					li: a(href="#") Медикаментозное лечение
					li: a(href="#") Операции по удалению гинекомастии у мужчин
					li: a(href="#") Цены на операцию
					li: a(href="#") Гинекомастия и рак молочной железы у мужчин
					li: a(href="#") Гинекомастия у спортсменов

	// end sSuspect