mixin sWhat()
	// start sWhat
	+b.sWhat.section&attributes(attributes)
		.container
			+b.section-title
				h2
					| Что такое
					|
					b гинекомастия у мужчин
					|
					| и к какому врачу бежать
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p
						strong Мужская гинекомастия
						|
						| — это аномальное увеличение грудных желёз. Заболевание доброкачественное. Распространённое. Иногда поражает одну грудь, чаще правую (тогда это
						|
						strong односторонняя гинекомастия
						|), но всё же в ⅔ случаев страдают сразу обе груди (и это уже
						srong двусторонняя гинекомастия
						|).
					+noticeItem('30%', 'мужчин зрелого возраста страдают гинекомастией')
					p Выделяют истинную, ложную и смешанную формы заболевания. В большинстве случаев достаточно осмотра и пальпации.
					p
						strong Ложная гинекомастия у мужчин
						|
						|или липомастия — увеличение груди из-за лишней жировой ткани. Развивается вместе с ожирением. Визуально грудные железы пациента округлые, мягкие на ощупь, с однородной структурой.
					p
						strong Истинная гинекомастия у мужчин
						|
						| — это разрастание железистой ткани. На ощупь грудь становится твердой, прощупываются железистые ячейки.
					p Смешанная гинекомастия — преобладание и жировой, и железистой ткани одновременно.
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p
						| В литературе вы можете встретить ещё
						|
						strong идиопатическую гинекомастию.
						|
						| Это сложное название означает одну простую вещь — истинная причина заболевания не выявлена.
					+noticeItem('25%', 'всех случаев гинекомастии возникает по неизвестным причинам')
					p
						| Если вы нашли хотя бы один из этих
						|
						strong признаков гинекомастии у мужчин
						|
						| — идите к маммологу:
					p Что такое гинекомастия у мужчин и к какому врачу бежатьМужская гинекомастия — это аномальное увеличение грудных желёз. Заболевание доброкачественное. Распространённое. Иногда поражает одну грудь, чаще правую (тогда это односторонняя гинекомастия), но всё же в ⅔ случаев страдают сразу обе груди (и это уже двусторонняя гинекомастия).
					ul
						li припухлость груди, либо она увеличилась
						li боль в груди (чаще не сильную, да и то жалуется не больше ⅓ пациентов, остальные никаких болей не чувствуют),
						li ощущения жжения, зуда, либо повышенной чувствительности в области сосков
						li выделение жидкости молочного цвета из одного или обоих сосков (такое случается крайне редко)
						li разрастание ареол до нескольких сантиметров
					+noticeItem('Ареолы', 'это тёмная область вокруг сосков')
					p
						| Многие считают, что маммолог — это женский врач. И да, в основном к этим специалистам приходят именно женщины. Поэтому возникает справедливый вопрос:
						strong ходят ли мужчины к маммологу?
					p
						| Да! Причём не бывает каких-то отдельных
						|
						strong маммологов для мужчин.
						|
						| Достаточно прийти к опытному маммологу и поверьте, он не удивится сильной половине человечества на приёме.
					+e.lined
						p
							| В нашей Первой маммологии для этого есть отдельный специалист —
							|
							strong Чепурко Антон Юрьевич
							|. Это крупнейший эксперт по диагностике гинекомастии. Опыт работы — 7 лет.
						p По нашей статистике 38% ужасных диагнозов, которыми уже напугали пациентов, некорректны. Поэтому не волнуйтесь заранее. Антон Юрьевич Чепурко, заведующий отделением Первой Маммологии, сможет аргументированно, на основании клинической картины, данных лабораторных и инструментальных методов исследований опровергнуть ложные заключения. И, главное, не пропустит реальное заболевание на самых начальных стадиях.
			+videoBl()
	// end sWhat

mixin sWhat02()
	// start sWhat
	+b.sWhat.section&attributes(attributes)
		.container
			+b.section-title
				h2
					b Диагностика гинекомастии
					|
					| — какие нужны обследования и анализы
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p
						| Поставить
						|
						strong диагноз гинекомастия
						|
						| довольно просто. Обычно маммологу хватает внешнего осмотра, сбора анамнеза, УЗД.
					+noticeItem('УЗД', 'ультразвуковая диагностика')
					p Доктор спросит:
					ul
						li как давно появились проблемы с грудью
						li симптомы боли, уровень дискомфорта
						li изменение веса
						li историю приёма лекарств
						li наличие системных заболеваний
						li проблемы с фертильностью, половой активностью
						li семейный анамнез
					p Доктор пальпирует (ощупает):
					+noticeItem('Анамнез', 'все сведения, добытые врачом в ходе беседы с пациентом')
					ul
						li как давно появились проблемы с грудью
						li симптомы боли, уровень дискомфорта
						li изменение веса
						li историю приёма лекарств
						li наличие системных заболеваний
						li проблемы с фертильностью, половой активностью
						li семейный анамнез
					p А ещё вам:
					ul
						li сделают УЗИ грудных желёз
						li возьмут биохимию крови, анализ на гормоны (тестостерон, эстрадиол, пролактин, ХГЧ, ЛГ, ФСГ и гормон щитовидной железы ТТГ)
					p Но могут быть рекомендованы дополнительные анализы, чтобы установить причину болезни:
					ul
						li Маммография
						li МРТ
						li Консультация эндокринолога и / или уролога
						li Трепан биопсия + гистологическое исследование материала
					p
						| Последнее особенно необходимо, если опухоль болезненная, односторонняя, фиксированная и твердая, расположена за пределами ареолы или связана с выделениями из сосков, врач назначит трепан биопсию + гистологическое исследование материала. Исключаем самое худшее. Обычно на этом
						|
						strong обследование гинекомастии у мужчин
						|
						| заканчивается.
					+e.lined
						p В своей работе мы используем комплексный подход к диагностике заболеваний молочной железы. У нас для этого есть всё: опытные доктора, оборудование экспертного уровня, смежные специалисты, операционная для выполнения диагностических биопсий, прямые контракты с лабораториями европейского уровня, сервис и доброжелательная атмосфера.
			+b.video-bl
				+e.row.row
					+e.video-col.col-lg-8.col-xl-9
						+e.video-cont
							img(loading="lazy" src="img/header-bg.jpg" alt="")
					+e.descr-col.col-lg-4.col-xl-3
						h4 Экономим ваши деньги — не назначаем ненужных анализов
						+e.arrow-txt
							p В карте пациентов наши врачи обязаны указать вескую причину назначения доп.анализов. В конце недели главврач делает ревизию всех амбулаторных карт и не дай Бог он найдёт необоснованный анализ...
							+e.arrow.d-none.d-md-block
								img(loading="lazy" src="img/painted-arrow.svg" alt="")
				+e.fee
					p
						| Стоимость консультации по гинекомастии:
						|
						strong.price 500 грн
					+e.btn(href='#') Записаться на консультацию

mixin sWhat03()
	// start sWhat
	+b.sWhat.section&attributes(attributes)
		.container
			+b.section-title
				h2
					b Причины гинекомастии у мужчин —
					|
					| откуда она берётся и как защититься
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p Основная причина — гормональные нарушения.
					+noticeItem('Тестостерон', 'гормон, отвечает за мужские черты — мышечную массу, волосы на теле и прочие маскулинные признаки')
					p Многие считают, что у сильной половины человечества в крови только тестостерон. Но на самом деле у любого мужчины есть и эстрогены в небольшом количестве. Это нормально. Гинекомастия развивается, только если происходит изменения баланса в сторону эстрогена. Это отражается на органах-мишенях и в основном на молочной железе — она разрастается, увеличивается в размерах.
					p Вызвать гормональные изменения может возраст, медицинские препараты и заболевания с системными проявлениями.
					+noticeItem('Эстроген', 'гормон, в ответе за женские черты — и тут для нас важнее всего рост груди.')
					p Начнём с лекарств.
					h4 Гинекомастия может быть побочным эффектом многих лекарств
					p Вот эти лекарства:
					ul
						li анаболические стероиды и андрогены
						li антидепрессанты
						li антибиотики
						li химиотерапия
						li лекарства от рака простаты, язвы и ряда заболеваний сердечно-сосудистой системы
						li опиоиды
						li высокоактивная антиретровирусная терапии (ВААРТ) при ВИЧ-инфекции
					h4 Некоторые болезни могут менять соотношение гормонов и вызывать гинекомастию
					p Например, эти:
					ul
						li Тиреотоксикоз (гиперфункция гормонов щитовидной железы)
						li Почечная недостаточность с необходимостью диализа
						li Печёночная недостаточность с переходом в цирроз печени
						li Рак легких, рак яичек, опухоли надпочечников или гипофиза
						li Ожирение
					p Про ожирение отдельно. Согласно исследованиям примерно 80% людей с индексом массы тела больше 25, страдали гинекомастией. А всё из-за повышенного превращения тестостерона в эстрадиол в жировой ткани. Следите за весом!
					+noticeItem('ИМТ', 'индекс массы тела — соотношение массы в килограммах на рост в метрах квадратных')
					p Но и голодание, недоедание тоже способно привести к гинекомастии. Механизм простой: тело без топлива начинает снижать уровень тестостерона, а вот уровень эстрогена остаётся прежним. Получается дисбаланс.
					h4 Гинекомастия может быть физиологической — естественным образом появляться и исчезать с возрастом
					+noticeItem('Транзиторная гинекомастия у новорождённых')
						+e.n-txt
							p Больше 50% младенцев рождаются с увеличенной грудью и это не считается патологией. Сказывается воздействие эстрогенов матери.
							p Уже через 1-3 недели после рождения опухшая ткань уходит.
					p
						strong Гинекомастия у мальчиков
						|
						| часто возникает в 10-16 лет с пиком в 13-14 лет. Набухание грудных желёз чаще всего безболезненное.
					p По данным Национального института здоровья (NIH), более половины мальчиков в той или иной степени страдают гинекомастией в период полового созревания.
					p
						strong Как лечить гинекомастию у мальчиков?
						|
						| Обычно никак, проходит самостоятельно. Но тут придётся подождать — от шести месяцев до двух лет.
					p
						| Хотя сама по себе
						|
						strong подростковая гинекомастия
						|
						| безвредна, она может быть связана с некоторыми заболеваниями и приёмом определённых лекарств.
					p Есть тревожные красные флаги, когда обратиться к врачу за лечением всё же нужно:
					ul
						li не проходит больше трёх лет, согласно другим клиническим руководствам — более одного года
						li заставляет ребёнка страдать от психического дискомфорта (в английском языке даже придумали обидное слово-дразнилку — «moobs» (от man и boobs)).
					+noticeItem('45-69 лет')
						p пик заболеваемости среди взрослых
						+e.n-txt
							p Объясняется это низким уровнем тестостерона — по данным фонда Urology Care Foundation, такая проблема у каждого четвертого мужчины. У этого есть даже отдельное научное название — гипогонадизм или «низкий уровень Т». К тому же с возрастом мужчины набирают вес, а это тоже меняет баланс гормонов в сторону эстрогенов.
					p Даже к 2021 году медикаментозная терапия детской гинекомастии изучена плохо. Есть данные об эффективности препаратов тестостерона и ингибиторов ароматаз. Но всё это на небольшой выборке, требуются дополнительные исследования.
					p При умеренных болях помогают нестероидные противовоспалительные мази, при выраженных уже нужна системная терапия. Мази дают кратковременный эффект. Это не решение проблемы. Вам нужна консультация узкого специалиста, который подберет лечение под конкретного пациента.
					+e.lined
						p Какая бы причина заболевания не была — мы поможем. Не бойтесь задавать нам любые вопросы, особенно, если вы считаете свой вопрос глупым. Обследование проведём вежливо и деликатно, в приятной обстановке.
			+b.video-bl
				+e.row.row
					+e.video-col.col-lg-8.col-xl-9
						+e.video-cont
							img(loading="lazy" src="img/header-bg.jpg" alt="")
					+e.descr-col.col-lg-4.col-xl-3
						h4 Уже 5 лет наша единственная специализация — болезни молочной железы
						+e.arrow-txt
							p
								strong Первая маммология
							+e.arrow.d-none.d-md-block
								img(loading="lazy" src="img/painted-arrow.svg" alt="")
				+e.fee
					p
						| Стоимость консультации по гинекомастии:
						|
						strong.price 500 грн
					+e.btn(href='#') Записаться на консультацию

	//-4
mixin sWhat04()
	// start sWhat
	+b.sWhat.section&attributes(attributes)
		.container
			+b.section-title
				h2
					b Медикаментозное лечение гинекомастии —
					|
					| помогут ли таблетки
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p Итак, если болезнь возникла из-за временных физиологических изменений гормонального фона, то лечить её таблетками не будем.
					p Если причина в каких-то конкретных лекарствах, которые принимает пациент — их исключим или заменим.
					p Если гинекомастия развилась из-за системного заболевания, то силы направляем на его лечение.
					p Пациентам с ложной гинекомастией порекомендуем сбросить лишний вес — тут поможет постепенное снижение калорийности, физическая нагрузка. Либо проведём операцию.
					+noticeItem('FDA')
						p управление по санитарному надзору за качеством пищевых продуктов и медикаментов
						+e.n-txt Одна из самых строгих медицинских организаций мира. Лекарства, которые не прошли нужных испытаний, одобрены FDA не будут.
					p
						| А вот с
						|
						strong лечением гинекомастии препаратами
						|
						| всё сложно. По данным FDA конкретных
						|
						strong таблеток от гинекомастии для мужчин
						|
						| не существует, они не одобрены. То есть нет единого мнения относительно препаратов, приходится пока выкручиваться самим врачам — вся надежда на их клинический опыт. А он у некоторых врачей в нашей Первой маммологии доходит до 30 лет!
					p
						| По опыту
						|
						strong заместительная гормональная терапия хорошо зарекомендовала себя у возрастных пациентов.
					p В мировой практике иногда гинекомастию лечат лекарствами от рака груди. Они одобрены FDA, но одобрены только для лечения рака груди. «Лечение не по назначению» может быть безопасным, но только в том случае, если вам это назначил грамотный врач. Он рассчитал соотношение вреда и пользы.
					p Основные варианты лечения — андрогены, антиэстрогены и ингибиторы ароматазы.
					+e.lined
						p У нас простая позиция — если можно обойтись без лечения, то мы его не назначаем. Если можно обойтись без операции, то никто в нашей клинике ни при каких обстоятельствах её не проведёт — ограничимся лекарствами. Цена приёма всего 500 грн.
					//-+noticeItem('', '')
			+b.video-bl
				+e.row.row
					+e.video-col.col-lg-8.col-xl-9
						+e.video-cont
							img(loading="lazy" src="img/header-bg.jpg" alt="")
					+e.descr-col.col-lg-4.col-xl-3
						h4 Европейские стандарты ранней диагностики и лечения гинекомастии
						strong Чепурко Антон Юрьевич
						+e.arrow-txt
							p
								b Маммолог, заведующий отделением
								|
								| — все мужчины попадают именно к нему
							+e.arrow.d-none.d-md-block
								img(loading="lazy" src="img/painted-arrow.svg" alt="")
				+e.fee
					p
						| Стоимость консультации по гинекомастии:
						|
						strong.price 500 грн
					+e.btn(href='#') Записаться на консультацию
	//-5
mixin sWhat05()
	// start sWhat
	+b.sWhat.sWhat--pb-0.section&attributes(attributes)
		.container
			+b.section-title
				h2
					b Операция по удалению гинекомастии у мужчин — цена
					| , виды, противопоказания
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p
						| При истинной гинекомастии мы часто проводим резекцию железистой ткани груди — удаление фрагмента грудной железы. Либо
						|
						srong мастэктомию у мужчин
						|
						| — это когда делаем крошечные разрезы и эндоскопически удаляем излишки ткани молочной железы. Операция проводится под местной анестезией за 30-40 минут с косметическим швом. Реабилитация — 7-14 дней. Для нас важно создать анатомически правильную форму груди и максимально незаметный послеоперационный рубец.
					p
						| При ложной и смешанной гинекомастии мы проводим редукционную
						|
						strong маммопластику у мужчин
						|
						| с липосакцией — иссекаются участки лишней кожи и откачивается жир.
					p Операция идёт час-полтора под местным наркозом. Она сложнее — убирается лоскут лишней кожи и ставится активный дренаж. Реабилитация также от 7 до 14 дней.
					p
						| О
						|
						strong гинекомастии после операции
						|
						| можно забыть. Но первое время о ней ещё будет напоминать грудная клетка —после операции она опухает, появляются синяки. Это быстро проходит. Чтобы ускорить восстановление, нужно неделю-две носить эластичную давящую одежду.
					p А ещё придётся хотя бы на 3 недели забыть о любой физической нагрузке. Отведите 6 недель на полное восстановление.
					p Абсолютные противопоказания к операциям стандартные:
					ul
						li возраст пациента менее 18 лет
						li подтверждённая онкология
						li декомпенсированный сахарный диабет
						li обострение хронических заболеваний
						li тяжёлые сердечно-сосудистые заболевания
						li нарушения свертывающей системы крови
					p Но каждый конкретный случай рассматривает доктор — именно он сможет сказать позволяют ли противопоказания провести операцию или нет.
					p Осложнения после операции редки. В основном — это гематомы. Среди редких самые частые:
					ul 
						li возвращение симптомов в связи с неполным удалением железистой ткани
						li неровный контур груди
						li снижение чувствительности сосков
					+e.lined
						p У каждого нашего хирурга опыт работы не менее 7 лет. В нашем хирургическом блоке современное оборудование и лучшая анестезия. Посмотрите результаты нашей работы.
					//-+noticeItem('', '')
		+b.compare
			+e.container.container
				+e.doctors.d-none.d-xl-flex
					+e.d-item
						+e.d-name Резюкин Алексей Васильевич
						+e.d-prof Хирург, врач-маммолог
						+e.d-img
							img(loading='lazy' src='img/doctor-1.png' alt="")
					+e.d-item
						+e.d-name Комышанченко Дмитрий Владимирович
						+e.d-prof Хирург, врач-маммолог
						+e.d-img
							img(loading='lazy' src='img/doctor-2.png' alt="")
				+e.slider
					+b.compare-prev--js
						+icon('chevron-right')
					+b.compare-next--js
						+icon('chevron-left')
					.swiper-container.compare-slider-js
						.swiper-wrapper
							+compare('peter-sm-1', 'peter-sm-2')
							+compare('peter-sm-3', 'peter-sm-4')
							+compare('peter-sm-2', 'peter-sm-3')
							+compare('peter-sm-4', 'peter-sm-1')
							+compare('peter-sm-1', 'peter-sm-2')
							+compare('peter-sm-3', 'peter-sm-4')
							+compare('peter-sm-2', 'peter-sm-3')
							+compare('peter-sm-4', 'peter-sm-1')
				+b.compare-pugin--js

	//-6
mixin sWhat06()
	// start sWhat
	+b.sWhat.section&attributes(attributes)
		.container
			+b.section-title
				h2
					| Связана ли гинекомастия и
					|
					b рак молочной железы у мужчин
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p
						| Отчасти, да. Если у вас гинекомастия, то это увеличивает риск развития
						|
						strong рака молочной железы у мужчин
						|
						| в 5 раз. Но связь это не прямая и гинекомастия — не предраковое состояние.
					p
						| Примерно 1 из каждых 100 случаев рака груди обнаруживают у сильной половины человечества. То есть вероятность небольшая, но она есть. Надеемся теперь вопрос,
						|
						strong бывает ли рак молочной железы у мужчин
						|
						| , перед вами не стоит.
					+noticeItem('~3 000', 'мужчин заболели раком груди только в США в 2020 году')
					p Причины заболевания неизвестны, но факторы риска определены. Вот что увеличивает его вероятность:
					ul
						li Старение — большинство случаев обнаруживается после 50 лет
						li Генетические мутации — речь о мутации генов BRCA1 и BRCA2
						li Наследственная предрасположенность
						li Лучевая терапия
						li Лечение гормональными препаратами
						li Нарушение функций печени
						li Избыточный вес и ожирение
					p
						b Признаки рака молочной железы у мужчин:
					+noticeItem('96%', 'выживаемость при раннем обнаружении')
					ul
						li Шишка или припухлость в груди
						li Втяжение соска (поворот внутрь) или боль в этой области
						li Покраснение или шелушение кожи сосков или других участков груди
						li Выделения из соска
					+noticeItem('22%', 'выживаемость при позднем обнаружении')
					+e.lined
						p Стоимость консультации всего 500 грн и длится она до 60 минут. Представляете, всего 1 час времени может спасти вашу жизнь. При малейших подозрениях, обратитесь к нашему маммологу. Мы гарантируем высочайшее качество забора биоматериала — в этом нам помогает уникальная квалификация врачей и биопсийная система Biocut-M.
					//-+noticeItem('', '')
			+b.video-bl
				+e.row.row
					+e.video-col--no-arrow.col-lg-8.col-xl-9
						+e.video-cont
							img(loading="lazy" src="img/header-bg.jpg" alt="")
					+e.descr-col.col-lg-4.col-xl-3
						h4 Мы не пропускаем злокачественные опухоли на ранних стадиях — у нас 99% обнаружение
						.small.mb-2 Мало клиник готовы похвастаться такими показателями
						+e.arrow-txt
							| Работаем с сертифицированной патоморфологической лабораторией CSD. Удивительно, но материал нам удаётся сохранить 3 года.
							//-+e.arrow.d-none.d-md-block
								img(loading="lazy" src="img/painted-arrow.svg" alt="")
				+e.fee
					p
						| Стоимость консультации по гинекомастии:
						|
						strong.price 500 грн
					+e.btn(href='#') Записаться на консультацию

	//-7
mixin sWhat07()
	// start sWhat
	+b.sWhat.section&attributes(attributes)
		.container
			+b.section-title
				h2
					b Гинекомастия у спортсменов —
					|
					| как влияют стероиды на заболевание
			+e.row.row
				+e.txt-col.col-12.col-xl-9
					p Регулярные силовые тренировки в зале, даже тяжёлые и изматывающие, не приводят к гинекомастии. Приводят анаболические андрогенные стероиды и другие гормоны роста.
					p Схемы их приёма легко найти в телеграмм-каналах или даже от недобросовестных тренеров. И рядом обязательно есть рекомендации по борьбе с побочками. А их много. Скачки настроения, изменение выработки собственных гормонов, проблемы с печенью и гинекомастия — не самые страшные, но частые.
					p До сих пор бытует миф о безопасных и опасных стероидах — якобы первые «вколоть» можно ничего не боясь, а вторые — с осторожностью. На самом деле любое вмешательство в гормональную систему опасно и спонтанный скачок тестостерона приводит к серьёзным последствиям.
					p
						| Чтобы понять, как появляется
						|
						strong гинекомастия от стероидов
						|, достаточно знать одно умное слово — ароматизация. Это превращение тестостерона в эстрадиол. Как только мы вливаем супрафизиологическое количество тестостерона, организм вынужден многократно повышать эстрогены, уменьшая при этом синтез эндогенного (своего) тестостерона. Вот так и развивается
						strong гинекомастия у атлетов
						|.
					+noticeItem('Супрафизиологическое', 'превышающее естественное количество во много раз')
					p А ещё на развитие гинекомастии сказываются частые и длительные перерывы в тренировках, частые циклы потери и набора веса — увеличивается чувствительность тканей, прежде всего жировой, к эстрогеновым влияниям.
					p Да и витаминные комплексы, протеиновые смеси только на первый взгляд кажутся безобидными. Они также могут содержать стимуляторы роста груди у мужчин, тренирующихся натурально, без фармакологической поддержки. А производители спортивного питания часто умалчивают о наличии таких компонентов, желая усилить эффект роста мышц. Но они не осознают какой вред здоровью наносят такие витамины и протеиновые коктейли...
					+e.lined
						p Если вы подозреваете у себя гинекомастию из-за спорта, записывайтесь к нам на приём. Чепурко Антон Юрьевич умеет работать с бодибилдерами, пауэрлифтерами и бегунами («соски бегунов»). Цена консультации всего 500 грн.
					//-+noticeItem('', '')

mixin compare(imgBefore, imgAfter)
	.swiper-slide
		+e.slide-inner
			.ba-slider
				img(src=`img/${imgBefore}.JPG` alt="")
				img(src=`img/${imgAfter}.JPG` alt="")

mixin noticeItem(headTxt, txt)
	+e.n-item
		+e.n-txt-cont
			+e.n-head=headTxt
			if block
				block
			else
				+e.n-txt=txt

mixin videoBl()
	+b.video-bl
		+e.row.row
			+e.video-col.col-lg-8.col-xl-9
				+e.video-cont
					if block
						block
					else
						video.video(data-poster='img/header-bg.jpg' playsinline='playsinline' autoplay='autoplay' muted='muted' loop='loop' controls)
							source(src='img/Chepurcko_Anton.mp4' type='video/mp4')
			+e.descr-col.col-lg-4.col-xl-3
				h4 Осмотр у нас проведёт опытный маммолог — он не отвлекается и никуда не торопится
				strong Чепурко Антон Юрьевич
				+e.arrow-txt
					p Маммолог, заведующий отделением
					+e.arrow.d-none.d-md-block
						img(loading="lazy" src="img/painted-arrow.svg" alt="")
		+e.fee
			p
				| Стоимость консультации по гинекомастии:
				|
				strong.price 500 грн
			+e.btn(href='#') Записаться на консультацию